<a href="https://colab.research.google.com/github/susmithachaganti/from-zero-to-python/blob/main/Beginner_Level_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**16.	Swap two numbers without temp variable**

In [2]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print(f"Before swapping: a = {a}, b = {b}")

a, b = b, a

print(f"After swapping: a = {a}, b = {b}")

Enter first number: 5
Enter second number: 10
Before swapping: a = 5, b = 10
After swapping: a = 10, b = 5

**17.	Convert Celsius to Fahrenheit**

In [3]:
celsius = float(input("Enter temperature in Celsius: "))

# Conversion formula
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}°C is equal to {fahrenheit}°F")

Enter temperature in Celsius: 37
37.0°C is equal to 98.6°F

**18.	Check leap year**

In [4]:
year = int(input("Enter a year: "))

# Logic
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(f"{year} is a Leap Year ✅")
else:
    print(f"{year} is NOT a Leap Year ❌")

Enter a year: 2025
2025 is NOT a Leap Year ❌

**19. Calculator using functions**

In [7]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
            2
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 20
Enter second number: 15
20.0 - 15.0 = 5.0
Let's do next calculation? (yes/no): no

**20.	ASCII value of a character**

In [8]:
# Program to find ASCII value of a character

# Input
ch = input("Enter a character: ")

# Ensure only one character is entered
if len(ch) == 1:
    print(f"The ASCII value of '{ch}' is {ord(ch)}")
else:
    print("Please enter only a single character!")

Enter a character: S
The ASCII value of 'S' is 83

**21.	Number to binary, octal, and hexadecimal**

In [1]:
num = int(input("Enter a number: "))

# Conversions
binary = bin(num)
octal = oct(num)
hexa = hex(num)

print(f"Decimal: {num}")
print(f"Binary: {binary[2:]}")
print(f"Octal: {octal[2:]}")
print(f"Hexadecimal: {hexa[2:].upper()}")

Enter a number: 61
Decimal: 61
Binary: 111101
Octal: 75
Hexadecimal: 3D

**22.	Sum of first n natural numbers**

In [2]:
n=int(input("Enter a number : "))
sum=n*(n+1)//2
print(f"Sum of first {n} natural numbers  = {sum}")

Enter a number : 10
Sum of first 10 natural numbers  = 55

**23.	Print star pattern (triangle, pyramid, etc.)**

In [3]:
# Program to print star patterns

# Input
rows = int(input("Enter number of rows: "))

print("\nRight-Angled Triangle Pattern:")
for i in range(1, rows + 1):
    print("*" * i)

print("\nInverted Triangle Pattern:")
for i in range(rows, 0, -1):
    print("*" * i)

print("\nPyramid Pattern:")
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

print("\nDiamond Pattern:")
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

Enter number of rows: 6

Right-Angled Triangle Pattern:
*
**
***
****
*****
******

Inverted Triangle Pattern:
******
*****
****
***
**
*

Pyramid Pattern:
     *
    ***
   *****
  *******
 *********
***********

Diamond Pattern:
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

**24.	Count vowels and consonants**

In [5]:
def count_vowels_consonants(text):
    vowels = "aeiouAEIOU"
    v_count = 0
    c_count = 0

    for ch in text:
        if ch.isalpha():  # check only alphabets
            if ch in vowels:
                v_count += 1
            else:
                c_count += 1

    return v_count, c_count

text = input("Enter a string: ")

v, c = count_vowels_consonants(text)

print("Vowels:", v)
print("Consonants:", c)

Enter a string: Github
Vowels: 2
Consonants: 4

**25.	Remove punctuation from string**

In [6]:
import string

text =  input("Enter a string with punctuation: ")
translator = str.maketrans('', '', string.punctuation)
clean_text = text.translate(translator)
print(clean_text)

Enter a string with punctuation: Hello!!! How are you?? I'm fine
Hello How are you Im fine

**26.	Reverse a string**

In [7]:
def reverse_string(text):
    return text[::-1]
text = input("Enter a string: ")
print("Reverse String is : ", reverse_string(text))

Enter a string: Github
Reverse String is :  buhtiG

**27.	Count words in a sentence**

In [8]:
sentence = input("Enter a sentence: ")

words = sentence.split()

count = len(words)

print("Total words:", count)

Enter a sentence: Learning Python
Total words: 2

**28.	Capitalize first letter of each word**

In [9]:
sentence = input("Enter a sentence: ")

result = sentence.title()

print("Result:", result)

Enter a sentence: learning python
Result: Learning Python

**29.	Replace substring in string**

In [10]:
text = input("Enter a string: ")
old_sub = input("Enter the substring to replace: ")
new_sub = input("Enter the new substring: ")

result = text.replace(old_sub, new_sub)

print("Result:", result)

Enter a string: I love Python programming
Enter the substring to replace: love
Enter the new substring: am learning
Result: I am learning Python programming

**30.	Find the frequency of characters**

In [12]:
from collections import Counter

input_string = input("Enter a string: ")
char_frequency = Counter(input_string)
print(dict(char_frequency))

Enter a string: python programming
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, ' ': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}